
.error {
  color: #e55252;
}

.register-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.register-form {
  width: 100%;
}

@media (min-width: 786px) {
  .register-form {
    width: 70%;
  }
}
